
<div id="top-navbar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <ul class="nav navbar-nav">
                <li class="dropdown" >
                    <a href="#" class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        &nbsp;User&nbsp;<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">SubMenu1</a></li>
                        <li><a href="#">SubMenu2</a></li>
                        <li><a href="#">SubMenu3</a></li>
                        <li class="divider"></li>
                        @Html.Partial("_LoginPartial")
                    </ul>
                </li>                
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav" style="font-size: 0.8em;">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Facade<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">SubMenu1</a></li>
                        <li><a href="#">SubMenu2</a></li>
                        <li><a href="#">SubMenu3</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Facade<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">SubMenu1</a></li>
                        <li><a href="#">SubMenu2</a></li>
                        <li><a href="#">SubMenu3</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Facade<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">SubMenu1</a></li>
                        <li><a href="#">SubMenu2</a></li>
                        <li><a href="#">SubMenu3</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Facade<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">SubMenu1</a></li>
                        <li><a href="#">SubMenu2</a></li>
                        <li><a href="#">SubMenu3</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Facade<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">SubMenu1</a></li>
                        <li><a href="#">SubMenu2</a></li>
                        <li><a href="#">SubMenu3</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Facade<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">SubMenu1</a></li>
                        <li><a href="#">SubMenu2</a></li>
                        <li><a href="#">SubMenu3</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Facade<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">SubMenu1</a></li>
                        <li><a href="#">SubMenu2</a></li>
                        <li><a href="#">SubMenu3</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Facade<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">SubMenu1</a></li>
                        <li><a href="#">SubMenu2</a></li>
                        <li><a href="#">SubMenu3</a></li>
                    </ul>
                </li>
                
            </ul>
        </div>        
    </div>
</div>

<div id="top-links" class="row" style="font-family: verdana;">
    <div class="col-sm-12 hidden-xs">
        <p style="margin:0; font-size: 0.8em;">            
            <ul class="nav nav-pills">
                
                <li role="presentation" class="top-link">                    
                    @Html.ActionLink("Patient Search", "Index", "Home", new { area = "" }, new { @style = " margin-top: 0; margin-bottom: 0; padding-top: 2px; padding-bottom: 2px;" })
                </li>
                <li role="presentation" class="top-link">
                    <a href="#" style="padding-top: 2px; padding-bottom: 2px; margin-top: 0; margin-bottom: 0;">Link</a>
                </li>
                <li role="presentation" class="top-link">
                    <a href="#" style="padding-top: 2px; padding-bottom: 2px; margin-top: 0; margin-bottom: 0;">Link</a>
                </li>
                <li role="presentation" class="top-link">
                    <a href="#" style="padding-top: 2px; padding-bottom: 2px; margin-top: 0; margin-bottom: 0;">Link</a>
                </li>
                <li role="presentation" class="top-link">
                    <a href="#" style="padding-top: 2px; padding-bottom: 2px; margin-top: 0; margin-bottom: 0;">Link</a>
                </li>
                <li role="presentation" class="top-link">
                    <a href="#" style="padding-top: 2px; padding-bottom: 2px; margin-top: 0; margin-bottom: 0;">Link</a>
                </li>
                <li role="presentation" class="top-link">
                    <a href="#" style="padding-top: 2px; padding-bottom: 2px; margin-top: 0; margin-bottom: 0;">Link</a>
                </li>
                <li role="presentation" class="top-link">
                    <a href="#" style="padding-top: 2px; padding-bottom: 2px; margin-top: 0; margin-bottom: 0;">Link</a>
                </li>
                <li role="presentation" class="top-link">
                    <a href="#" style="padding-top: 2px; padding-bottom: 2px; margin-top: 0; margin-bottom: 0;">Link</a>
                </li>
                <li role="presentation" class="top-link">
                    <a href="#" style="padding-top: 2px; padding-bottom: 2px; margin-top: 0; margin-bottom: 0;">Link</a>
                </li>
                <li role="presentation" class="top-link">
                    <a href="#" style="padding-top: 2px; padding-bottom: 2px; margin-top: 0; margin-bottom: 0;">Link</a>
                </li>
                <li role="presentation" class="top-link">
                    <a href="#" style="padding-top: 2px; padding-bottom: 2px; margin-top: 0; margin-bottom: 0;">Link</a>
                </li>                
            </ul>
        </p>
    </div>
</div>