<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>


  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  
  
  <!-- 
  When deploying the service library project, the content of this .config file must be added to the host's .config file.    
  -->
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    
    <services>
      <service name="TC.Svcs.DataAccessSvc">
        <endpoint name="DataAccessPipe" bindingNamespace="http://transchart.net" 
                  address="dataaccess" binding="netNamedPipeBinding" contract="TC.Svcs.IDataAccess" />        
        <endpoint name="DataAccessTcp" bindingNamespace="http://transchart.net" 
                  address="dataaccess" binding="netTcpBinding" contract="TC.Svcs.IDataAccess" />
        <endpoint name="DataAccessHttp" bindingNamespace="http://transchart.net" 
                  address="dataaccess" binding="wsHttpBinding" contract="TC.Svcs.IDataAccess" />        
        <endpoint name="DataAccessRestful"
                  address="dataaccess/rest" kind="webHttpEndpoint" contract="TC.Svcs.IDataAccess" 
                  behaviorConfiguration="RestfulBehavior" />        
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://127.0.0.1/TC/" />
            <add baseAddress="net.tcp://127.0.0.1:3950/TC/" />
            <add baseAddress="http://127.0.0.1:3949/TC/" />
          </baseAddresses>
        </host>
      </service>
      
      <service name="TC.Svcs.PatientFacadeSvc">
        <endpoint address="" binding="netNamedPipeBinding" contract="TC.Svcs.IPatientFacadeSvc" />
        <endpoint address="" kind="webHttpEndpoint" contract="TC.Svcs.IPatientFacadeSvc"
                  behaviorConfiguration="RestfulBehavior">
                  <!--<identity> <dns value="localhost" /> </identity>-->
        </endpoint>
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/TC/PersonFacadeSvc/" />
            <add baseAddress="http://localhost:5450/TC/PersonFacadeSvc/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <behaviors>
      
      <endpointBehaviors>
        <behavior name="RestfulBehavior">                    
          <enableWebScript /><!-- allow javascript proxy to be generated by adding /js to the end of the URL -->            
          <webHttp helpEnabled="true" /><!-- enable the HTTP help page -->
        </behavior>
      </endpointBehaviors>
      
      <serviceBehaviors>        
        <behavior name=""><!-- A behavior without a name becomes the default behavior for all the services -->
          <!-- Set these to false before deployment to avoid disclosing metadata & exception information -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      
    </behaviors>

    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" crossDomainScriptAccessEnabled="true" />
      </webHttpEndpoint>
      <!--<webScriptEndpoint>
        <standardEndpoint name="" crossDomainScriptAccessEnabled="true" />
      </webScriptEndpoint>-->
    </standardEndpoints>
    
    <!--<protocolMapping>
      --><!-- make all the http baseaddress URIs exposed in the host use wsMtomSecureBinding --><!--
      <remove scheme="http" />
      <add binding="wsHttpBinding" scheme="http"  bindingConfiguration="wsMtomSecureBinding" />    
    </protocolMapping>
    <bindings>
      <wsHttpBinding>
        <binding name="wsMtomSecureBinding" messageEncoding="Mtom" >
          <security mode="TransportWithMessageCredential" />
          <reliableSession enabled="true"/>
        </binding>
      </wsHttpBinding>
    </bindings>-->
    
  </system.serviceModel>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
