
<p>
    <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="active"><a style="color: maroon; background-color: #d3d3d3; padding-top: 0; margin-top: 0; padding-bottom: 0; margin-bottom: 3px;" href="#">Logout Timer</a></li>
    </ul>
    &nbsp;&nbsp;&nbsp;&nbsp;15:00
            @*<ul class="nav nav-pills nav-justified">
                <li role="presentation"><a style="padding-top: 0; margin-top: 0; padding-bottom: 0; margin-bottom: 0;" href="#">10:00</a></li>
            </ul>
    *@
                        
</p>
<hr style="border-width: 3px; margin-bottom: 0.5em; margin-top: 0;" />
<p>
    <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="active"><a style="color: maroon; background-color: #d3d3d3; padding-top: 0; margin-top: 0; padding-bottom: 0; margin-bottom: 3px;" href="#">Research Tools</a></li>
    </ul>
    &nbsp;&nbsp;-&nbsp;<a href="#">Chart Wizard</a><br />
    &nbsp;&nbsp;-&nbsp;<a href="#">Admissions CAT</a><br />
    &nbsp;&nbsp;-&nbsp;<a href="#">Lab CAT</a><br />
    &nbsp;&nbsp;-&nbsp;<a href="#">CAT Groups</a>
</p>
<hr style="border-width: 3px; margin-bottom: 0.5em; margin-top: 0;" />
<p>
    <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="active"><a style="color: maroon; background-color: #d3d3d3; padding-top: 0; margin-top: 0; padding-bottom: 0; margin-bottom: 3px;" href="#">Patient Info &<br />
            Recent Clinicals</a></li>
    </ul>
    &nbsp;&nbsp;-&nbsp;<a href="#">View</a><br />
    &nbsp;&nbsp;-&nbsp;<a href="#">Print</a><br />
</p>
<hr style="border-width: 3px; margin-bottom: 0.5em; margin-top: 0;" />
<p>
    <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="active"><a style="color: maroon; background-color: #d3d3d3; padding-top: 0; margin-top: 0; padding-bottom: 0; margin-bottom: 3px;" href="#">User Info</a></li>
    </ul>
</p>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Notes <span class="badge">7</span></a>
<br />
<br />
<hr style="border-width: 3px; margin-top: 0;" />
<img src="/images/TransChart_sm.gif" alt="Patient Management Systems" width="100%" />

